body {
	font-family: Optima, Helvetica, Verdana, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	margin: 20px 0px 20px 0px;
}

abbr {
	border:none;
}

h1 {
	margin: 0px;
}

#tagline {
	margin: 0px 0px 5px 3px;
}

#container {
	width: 970px;
	text-align:left;
}

#search_form {
	float: right;
	margin-top: 10px;
	margin-right: 80px;
}
#search_links {
	margin: 3px 0px 0px 0px;
	font-size: 0.8em;
}

.priority_position {
	font-size: 1.7em;
	padding-right: 10px;
	position: relative;
	top: -2px;
}

.priority_numbers {
	font-size: 0.8em;
}

.priority_new {
	font-size: 11px;	
	color: #cc0000;
	text-align: center;
	padding-top: 4px;	
}
.priority_unchanged {
	font-size: 11px;
	color: #999;
	text-align: left;
	text-align: center;	
	position: relative;
	top: 5px;	
}
.priority_down {
	background-image: url("/images/red_down.gif");
	background-repeat: no-repeat;
	background-position: bottom center;	
	width: 15px;
	padding-bottom: 6px;	
	font-size: 11px;
	color: #000033;
	text-align: center;		
	position: relative;
	top: 3px;	
}
.priority_up {
	background-image: url("/images/green_up.gif");
	background-repeat: no-repeat;
	background-position: top center;
	width: 15px;
	font-size: 11px;
	color: #000033;	
	text-align: center;	
	padding-top: 6px;
	position: relative;
	top: 5px;
}

.constituents_count {
	font-size: 0.8em;
	color: #999;
}

.table_header {
	font-size: 11px;
	text-transform:uppercase;
	color: #999;
}

/* jquery auto complete stuff */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	overflow: hidden;
}

.ac_loading {
	background: white url('/images/indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #13499b;
	color: white;
}
/* end jquery autocomplete stuff */

.pagination .current {
	background-color: #eee;
	padding: 3px;
	font-weight: bold;
}