body {
	font-family: Optima, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	margin: 20px 0px 20px 0px;
}

abbr {
	border:none;
}

a:link {
	color: #0044A8;
	text-decoration: none;
}
a:visited {
	color: #0044A8;
	text-decoration: none;	
}
a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0px;
}
h2, h3 {
	margin: 0px 0px 5px 0px;
}

#header {
}

#tagline {
	margin: 0px 0px 5px 3px;
}

#container {
	width: 950px;
	text-align:left;
	margin-right: 10px;
}
#content {
	margin-top: 20px;
}

#search_form {
	float: right;
	margin-top: 10px;
}
#search_links {
	margin: 3px 0px 0px 2px;
}
#wh2_box, #intro_box {
	font-size: 0.8em;
	line-height: 1.3em;
	background-color: #f0f0f0;
	padding: 8px 7px 1px 7px;
}
#legislator_submit, #research_submit, .search_button {
	border-right: solid 1px #BBB;
	border-bottom: solid 1px #BBB;	
	font-size: 1em;
	background-color: #DDD;
	font-weight: bold;
	color: #000;
	padding: 2px 4px 2px 4px;
}
input, textarea, select {
	font-size: 1em;
	font-family: Optima, Helvetica, Verdana, Arial, sans-serif;	
}
#legislator_name, #q {
	width: 225px;
}
#research_requester, #research_email, #research_organization, #research_issue_id {
	width: 250px;
}

#research_research_request, #research_content {
	width: 515px;
}

.red {
	color: #cc0000;
}

.priority_position {
	font-size: 1.7em;
	padding-right: 10px;
	position: relative;
	top: -2px;
}

.priority_numbers, #search_links {
	font-size: 0.8em;
}

.small_content {
	font-size: 0.9em;
	line-height: 1.3em;
}

.priority_new {
	font-size: 11px;	
	color: #cc0000;
	text-align: center;
	padding-top: 4px;	
}
.priority_unchanged {
	font-size: 11px;
	color: #999;
	text-align: left;
	text-align: center;	
	position: relative;
	top: 5px;	
}
.priority_down {
	background-image: url("/images/red_down.gif");
	background-repeat: no-repeat;
	background-position: bottom center;	
	width: 15px;
	padding-bottom: 6px;	
	font-size: 11px;
	color: #000033;
	text-align: center;		
	position: relative;
	top: 3px;	
}
.priority_up {
	background-image: url("/images/green_up.gif");
	background-repeat: no-repeat;
	background-position: top center;
	width: 15px;
	font-size: 11px;
	color: #000033;	
	text-align: center;	
	padding-top: 6px;
	position: relative;
	top: 5px;
}

.constituents_count {
	font-size: 0.8em;
	color: #999;
}

.user_name {
	position: relative;
	top: -3px;
	padding: 0px 0px 15px 8px;
	font-size: 0.9em;
}
.pc {
	color:#999;
	font-size: 10px;
	padding: 0px 1px 0px 1px;
	border: dotted 1px #ddd;
}

.table_header, .heading {
	font-size: 11px;
	text-transform:uppercase;
	color: #999;
}

.xml_footer {
	margin-top: 15px;
	font-size: 0.8em;
}

/* jquery auto complete stuff */
.ac_results {
	padding: 0px;
	border: 1px solid #DDD;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	overflow: hidden;
}

.ac_loading {
	background: white url('/images/indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: #0044A8;
	color: white;
}
/* end jquery autocomplete stuff */

/* begin css tabs */

ul#tabnav { /* general settings */
	text-align: left; /* set to left, right or center */
	margin: 1em 0 1em 0; /* set margins as desired */
	list-style-type: none;
	font-weight: bold;	
	padding: 3px 10px 3px 0px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li { /* do not change */
	display: inline;
}

#legislator_nav1 li.tab1, #legislator_nav2 li.tab2, #legislator_nav3 li.tab3, #legislator_nav4 li.tab4 { /* settings for selected tab */
	border-bottom: 1px solid #fff; /* set border color to page background color */
	background-color: #fff; /* set background color to match above border color */
}

#legislator_nav1 li.tab1 a, #legislator_nav2 li.tab2 a, #legislator_nav3 li.tab3 a, #legislator_nav4 li.tab4 a { /* settings for selected tab link */
	background-color: #ddd; /* set selected tab background color as desired */
	color: #000; /* set selected tab link color as desired */
	padding-top: 3px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a { /* settings for all tab links */
	padding: 3px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	background-color: #fff; /* set unselected tab background color as desired */
	color: #000; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	text-decoration: none;
}

ul#tabnav a:hover { /* settings for hover effect */
	background: #ddd; /* set desired hover color */
}

/* end css tabs */

/* paginationn */
.pagination {
  padding: 3px;
  margin: 0px;
  font-size: 0.8em;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #DDD;
  text-decoration: none;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #DDD;
  background-color: #EEE;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  font-weight: bold;
  background-color: #eee;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 0px;
  border: 1px solid #eee;
  color: #ddd;
}
/* end pagination */

/* rails forms */
.field {
	margin-bottom: 15px;
}
.field_label {
	font-size: 0.8em;
}

.fieldWithErrors input {
  background-color: #c00;
  color: #FFF;
}

#errorExplanation {
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 1em;
}

/* end rails errors */


/* flash messages */

.flash_notice, .flash_error, .flash_info, .flash_warning {
	background-repeat: no-repeat;
	background-position: left;	
	padding: 7px 0px 5px 20px;
}

.flash_notice {
	background-image: url("/images/accept.png");
	color: #008800;
}

.flash_error {
	background-image: url("/images/exclamation.png");
	color: #cc0000;
}

.flash_info {
	background-image: url("/images/information.png");
	color: #0044A8;
}

.flash_warning {
	background-image: url("/images/error.png");
	color: #ff9933;
}

/* end flash messages */