At <% if current_legislator %><a href="http://<%= BASE_URL %>">Hello Congress</a><% else %><b>Hello Congress</b><% end %>, every Senator and Representative gets <%= link_to "their own site", legislators_url %> where their staff can request research, search our briefing room of over 2000 documents and talking points, and track the priorities of their constituents in one simple dashboard.
<p>