<table border="0" cellspacing="0" cellpadding="0">
	<tr><td valign="top">
		<% @legislators1.group_by { |l| l.state }.each do |state, legislators| %>	
			<%= render :partial => "list_by_state", :locals => {:legislators => legislators, :state => state}%>
		<% end %>
	</td><td valign="top" style="padding-left: 5px;">
		<% @legislators2.group_by { |l| l.state }.each do |state, legislators| %>	
			<%= render :partial => "list_by_state", :locals => {:legislators => legislators, :state => state}%>
		<% end %>		
	</td><td valign="top" style="padding-left: 5px;">
		<% @legislators3.group_by { |l| l.state }.each do |state, legislators| %>	
			<%= render :partial => "list_by_state", :locals => {:legislators => legislators, :state => state}%>
		<% end %>		
	</td><td valign="top" style="padding-left: 5px;">
		<% @legislators4.group_by { |l| l.state }.each do |state, legislators| %>	
			<%= render :partial => "list_by_state", :locals => {:legislators => legislators, :state => state}%>
		<% end %>
	</td>
	</tr>
</table>
